---
title: Registration # Page title and menu item
slug: registration  # last part of URL
layout: card
---
{%- assign classes = site.data.classes | where:"class", "signingtime" -%}
{%- assign numclasses = classes | size -%}

{%- if numclasses <= 0 %}
Registration is currently closed. Please check back later for additional course dates.
{%- else -%}

Spring registration is open now for children 4 years old or younger and their parent(s)/caregivers. Please fill out the form below.

<form method="post" action="https://formspree.io/formspree@lilybee.ch">
    <section>
        <h3>Contact Information</h3>
        <div class="form-row form-group">
            <label for="parentnamefield" class="col-sm-2 col-form-label">Parent Name</label>
            <div class="col-sm-10">       
                <input id="parentnamefield" type="text" class="form-control" placeholder="First Last" name="parentname"/>
            </div>
        </div>
        <div class="form-row form-group">
            <label for="emailfield" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">       
                <input id="emailfield" type="email" class="form-control" placeholder="Email" name="_replyto"/>
            </div>
        </div>
        <div class="form-row form-group">
            <label for="phonefield" class="col-sm-2 col-form-label">Phone number</label>
            <div class="col-sm-10">
                <input id="phonefield" type="text" class="form-control" placeholder="Phone number" name="phone"/>
                {% comment %}
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                            Prefer SMS
                            </label> 
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                            <label class="form-check-label" for="defaultCheck1">
                            Prefer WhatsApp
                            </label>
                        </div>
                    </div>
                </div>
                {% endcomment %}
            </div>
        </div>
        <div class="form-row form-group">
            <label for="child1namefield" class="col-sm-2 col-form-label">Child 1 Name</label>
            <div class="col-sm-4">       
                <input id="child1namefield" type="text" class="form-control" placeholder="Name" name="child1name"/>
            </div>
            <label for="child1birthdayfield" class="col-sm-2 col-form-label">Birthday</label>
            <div class="col-sm-4">       
                <input id="child1birthdayfield" type="text" class="form-control" placeholder="DD-MM-YYYY" name="child1birthday"/>
            </div>
        </div>
        <div class="form-row form-group">
            <label for="child2namefield" class="col-sm-2 col-form-label">Child 2 Name</label>
            <div class="col-sm-4">       
                <input id="child2namefield" type="text" class="form-control" placeholder="Name" name="child2name"/>
            </div>
            <label for="child2birthdayfield" class="col-sm-2 col-form-label">Birthday</label>
            <div class="col-sm-4">       
                <input id="child2birthdayfield" type="text" class="form-control" placeholder="DD-MM-YYYY" name="child2birthday"/>
            </div>
        </div>
        <div class="form-row">
            <div class="col-sm-10 offset-sm-2">
                <p>For more than two children, please indicate names and birthdays in the 'Additional Comments' below. We recommend that at most two children attend per adult.</p>
            </div>
        </div>
    </section>
    <section>
        <h3>Course</h3>
        <div class="form-row">
            <div class="col">
                <p>The course runs 4 weeks and is offered in at <a href="{{site.baseurl}}{% link map.md %}#schwamendingen">Gut Betucht Babywearing</a> in the  in Schwamendingen neighborhood and <a href="{{site.baseurl}}{% link map.md %}#wipkingen">Hebammenpraxis Zürich</a> in Wipkingen.</p>
            </div>
        </div>
        <div class="form-row form-group">
            <label for="classselect" class="col-sm-2 col-form-label">Course Time</label>
            <div class="col-sm-10">
                {% for class in classes %}
                {% if class.label -%}
                    {%- assign classid = class.label-%}
                {%- else -%}
                    {%- capture classid -%}
                        {%if class.title %}{{class.title}}. {% endif -%}
                        {{class.dates}}. {{class.time}}
                    {%- endcapture -%}
                {%- endif -%}
                 <div class="form-check">
                    <input class="form-check-input" type="radio" name="coursetime" id="{{classid|slugify}}_radio" value="{{classid}}">
                    <label class="form-check-label" for="{{classid|slugify}}_radio">
                    {% if class.title %}<b>{{class.title}}</b>. {% endif -%}
                    {{class.dayofweek}} at {{class.time}} on {{class.dates}}.
{%- case class.location -%}
    {%- when "schwamendingen" %} <a href="{{site.baseurl}}{% link map.md %}#schwamendingen">Schwamendingen</a>
    {%- when "wipkingen" %} <a href="{{site.baseurl}}{% link map.md %}#wipkingen">Wipkingen</a>
    {%- else %} {{class.location | capitalize}}
{%- endcase %}
                    </label>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section>
        <h3>Payment</h3>
        <div class="row">
            <div class="col">
                <p>Costs:</p>
                <ul>
                    <li>
                        First child: {{site.data.price.signingtime.first}}.-
                    </li>
                    <li>
                        Second child: {{site.data.price.signingtime.additional}}.-
                    </li>
                    <li>
                        Adults: Free (with child)
                    </li>
                </ul>
            </div>
        </div>
        <div class="form-row form-group">
            <label for="promotion" class="col-sm-2 col-form-label">Promotion Code</label>
            <div class="col-sm-4">
                <input id="promotion" type="text" class="form-control" placeholder="optional" name="promotion"/>
            </div>
        </div>
        <div class="form-row form-group">
            <label for="paymenttypefield" class="col-sm-2 col-form-label">Payment options</label>
            <div class="col-sm-10">
                <div class="form-check" id="paymenttypefield">
                    <input class="form-check-input" type="radio" name="payment" id="paymentIBANfield" value="Bank Transfer">
                    <label class="form-check-label" for="paymentIBANfield">
                    Bank Transfer
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="payment" id="paymentCashfield" value="Cash">
                    <label class="form-check-label" for="paymentCashfield">
                    Cash
                    </label>
                </div> 
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <p>Additional payment options coming soon.</p>
            </div>
        </div>
    </section>
    <section>
        <h3>Additional Comments</h3>
        <div class="form-row">
            <div class="col form-group">
                <textarea class="form-control" name="additionalcomments" placeholder="Comments, special needs, additional notes, ..." rows="2"></textarea>
            </div>
        </div>
        <div class="form-row">
            <div class="col">
                <p>Thank you for registering for Baby Signing Time in Zurich. You will receive an invoice and confirmation via e-mail within 1-2 business days.</p>
            </div>
        </div>
        <input type="hidden" name="formurl" value="{{page.url}}" />
        <div class="form-row">
            <div class="col">
              <button type="submit" class="btn btn-primary mb-2">Register</button>
            </div>
        </div>
    </section>
    <input type="hidden" name="formurl" value="{{page.url}}" />
    <input type="hidden" name="_next" value="{{baseurl}}{% link signingtime/submitted.md %}" />
    <input type="hidden" name="_subject" value="Signing Time Registration" />

</form>

{% endif %}
