        <section id="contact" class="main">
            <header>
                <div class="container">
                    <h2>Contact</h2>
                    <p class="en">For questions or to schedule a consultation you can call or text me at: 079 172 7706, e-mail me at <a href="mailto:blivenbabywearing@gmail.com">blivenbabywearing@gmail.com</a> or fill out the form below. I look forward to hearing from you.</p>
                </div>
            </header>
            <div class="content style4 featured">
                <div class="container 75%">
                    <form method="post" action="https://formspree.io/blivenbabywearing+formspree@gmail.com">
                        <div class="row 50%">
                            <div class="6u 12u(mobile)"><input type="text" placeholder="Name" name="name"/></div>
                            <div class="6u 12u(mobile)"><input type="text" placeholder="Email" name="email"/></div>
                        </div>
                        <div class="row 50%">
                            <div class="12u"><textarea name="message" placeholder="Message"></textarea></div>
                        </div>
                        <div class="row">
                            <div class="12u">
                                <ul class="actions">
                                    <li><input type="submit" class="button" value="Send Message" /></li>
                                    <li><input type="reset" class="button alt" value="Clear Form" /></li>
                                </ul>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>