{% comment %}
List of all events

@param expandbutton Include the 'Expand All' control?
@param class Show only events in this class
{% endcomment -%}
{% if include.class %}
    <!-- Filtering events where class: {{include.class}} -->
    {% assign events = site.data.events | where:"class",include.class | sort: "date" %}
{% else %}
    <!-- Showing all events -->
    {% assign events = site.data.events | sort: "date" %}
{% endif -%}
{% if events.size < 1 -%}
    <p>No events are currently scheduled</p>
{% else -%}
{%- if include.expandbutton == nil or include.expandbutton -%}
<button type="button" class="btn btn-light btn-sm float-right" id="expandall">Expand All</button>
{%- endif -%}
<ul class="collapsible-events">

{% for event in events %}
{% assign classdefaults = site.data.classinfo[event.class] -%}
{% capture eventid %}{% include eventid.html %}{% endcapture -%}
{% assign uid = eventid | slugify: "latin" %}
{% capture expires %}{{ event.date | date: "%Y-%m-%d" }}{% endcapture %}
<li class="event{% if event.cancelled %} cancelled{% endif %}" data-date="{{ expires }}">
    <div class="event-head">
        <div class="border mr-3 rounded d-none d-sm-inline-block">
            <img src="{{ event.image | default: classdefaults.image}}" class="event-thumbnail p-1 rounded" alt="thumbnail"/>
        </div>
        <div class="stacked-date">
            <div class="dayofweek">{{ event.date | date: "%a" }}</div>
            <div class="dayofmonth">{{ event.date | date: "%d" }}</div>
            <div class="month">{{ event.date | date: "%b" }}</div>
        </div>
        <h5 class="event-title">{{ event.title | default: classdefaults.title | smartify }}</h5>
        <span class="event-time">{{ event.time | default: classdefaults.time}}</span>
        <a class="collapse-caret" data-toggle="collapse" href="#event-{{uid}}"
           aria-expanded="false" aria-controls="event-{{uid}}" aria-label="Expand">
        </a>
        {% unless event.rsvp == false or classdefaults.rsvp == false -%}
        <div class="event-rsvp">

            <a class="btn btn-primary{% if event.cancelled %} disabled{% endif %}"
             href="/rsvp/?{{uid}}">RSVP</a>
        </div>
        {% endunless -%}
    </div>
    <div id="event-{{uid}}" class="event-body collapse">
        {% if event.location or classdefaults.location-%}
        <p><b>Location:</b>
            {% capture location %}{{event.location | default: classdefaults.location }}{% endcapture %}
            {%- case location -%}
                {%- when "gutbetucht" %} <a href="{{site.baseurl}}{% link map.md %}#gutbetucht">Gut Betucht</a>
                {%- when "hebammenpraxis" %} <a href="{{site.baseurl}}{% link map.md %}#hebammenpraxis">Hebammenpraxis Zurich</a>
                {%- when "lilybee" %} <a href="{{site.baseurl}}{% link map.md %}#lilybee">LilyBee</a>
                {%- else %} {{ location }}
            {%- endcase %}
        </p>
        {% endif -%}
        {% if event.time or classdefaults.time-%}
            <p><b>Time:</b> {{ event.time | default: classdefaults.time }}</p>
        {% endif -%}
        {% if event.alldates != nil or classdefaults.alldates != nil %}
        <p><b>Dates:</b> {{ event.alldates | default: classdefaults.alldates }}</p>
        {% endif %}
        {% capture price %}{{ event.price | default: classdefaults.price }}{% endcapture -%}
        {% assign price = price | plus: 0 -%}
        {% if price -%}
            <p><b>Price:</b>
                {% if price > 0 -%}
                    {{ price }} CHF
                {%- else -%}
                    Free
                {%- endif -%}
                {{ event.price_extras | default: classdefaults.price_extras }}</p>
        {% endif -%}
        {% capture more %}{{event.more | default classdefaults.more}}{% endcapture -%}
        <div class="event-description" markdown="1">{{ event.description | default: classdefaults.description }}
{% if more != nil -%}{% unless page.url contains more -%}
<a href="{{more}}" class="event-more">More Info...</a>
{% endunless %}{%- endif %}
</div> {% comment %} must be unindented due to markdown=1 rule {% endcomment %}
    </div>
</li>
{% endfor %}
</ul>
<div id="past-events" class="past-events d-none" markdown="0">
    <h4>Past events
        <a class="collapse-caret" data-toggle="collapse" href="#past-events-list"
            aria-expanded="false" aria-controls="past-events-list" aria-label="Expand">
        </a>
    </h4>
    <ul id="past-events-list" class="collapsible-events collapse"></ul>
</div>
<script>
// Hook to update caret CSS when events are expanded/collapsed
document.addEventListener('DOMContentLoaded', () => {
    function setCaret(evt) {
        var data = $(evt.target).data('bs.collapse');
        var shown = evt.type.includes("show");
        if( shown ) {
            $(data._triggerArray).addClass("expanded");
        } else {
            $(data._triggerArray).removeClass("expanded");
        }
        //console.log("triggered by "+evt.target.id);
        //console.log("Shown: "+shown)
    }
    $('.event-body').on('shown.bs.collapse', setCaret)
    $('.event-body').on('hidden.bs.collapse', setCaret)
    $('.past-events').on('shown.bs.collapse', setCaret)
    $('.past-events').on('hidden.bs.collapse', setCaret)

    $("#expandall").on('click', (evt) => {
        console.log("Expand all");
        var $btn = $(evt.currentTarget)
        if( $btn.text().includes("Collapse")) {
            $(".event-body").collapse("hide");
            $btn.text("Expand All");
        } else {
            $(".event-body").collapse("show");
            $btn.text("Collapse All");
        }

    });

    function hidePast() {
        $past = $("#past-events-list");
        $(".event").each(function() {
            const $this = $(this),
                evtDateStr = $this.attr("data-date");
            const evtDate = new Date(evtDateStr); // local timezone
            if( evtDate !== NaN) {
                const yesterday = new Date();
                yesterday.setDate(yesterday.getDate() - 1);

                if(evtDate < yesterday) {
                    $(".past-events").removeClass("d-none"); // unhide past
                    $this.appendTo($past); // move below fold
                    $this.addClass("old-event");
                    const $rsvp = $this.find(".event-rsvp a");
                    $rsvp.addClass("disabled");
                    $rsvp.attr("aria-disabled","true");
                }
            }

        })
    }
    hidePast();
});
</script>

{% endif %}