<!-- Footer -->
<footer id="footer" class="jumbotron mt-5">
    <div class="container my-1">
        <div class="row">
            <div class="col-lg-6">
                <a href="https://www.facebook.com/LilyBeeZurich/"><div class="logo-36">
                    <img src="{{site.baseurl}}{% link images/flogo_RGB_HEX-72.png %}" alt="Facebook" width="100%"/>
                </div></a>
                <a href="https://www.instagram.com/LilyBeeZurich/"><div class="p-1 logo-36" style="background:#FF0077; ">
                    <img src="{{site.baseurl}}{% link images/glyph-logo_May2016_white.svg %}" alt="Instagram" width="100%"/>
                </div></a>
                <a href="https://LilyBeeZurich.etsy.com/"><div class="logo-36" style="background: #F56402;">
                    <img src="{{site.baseurl}}{% link images/etsy-logo.svg %}" alt="Etsy" width="100%"/>
                </div></a>
            </div>
            <div class="col-lg-6">
                <ul class="nobullet">
                    <li><a href="{{site.baseurl}}{% link contact.html %}">Contact</a></li>
                    <li><a href="{{site.baseurl}}{% link contact.html %}">About</a></li>
                </ul>
            </div>

        </div>
        <div class="row mt-1">
            <div class="col">
                <p>&copy; {{ 'now' | date: "%Y" }} Christine Bliven. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
