<!-- Header -->
<section id="headeroval" class="dark">
    <header>
        <div class="container">
            <div class="row">
                <div class="4u 12u(narrow) centered-outer" >
                    <img class="centered-inner" src="images/profile_pic_oval_370.png" />
                </div>
                <div class="0u 1u(narrow)"></div>
                <div class="4u 10u(narrow)">
                    <div class="ovoid centered-outer" style="background: white;  width:100%;">
                        <section class="centered-inner">
                            <h1>Christine Bliven</h1>
                            <p>
                                <span class="en">Babywearing Consultant</span>
                                <br/>
                                <span class="de">Trageberaterin</span>
                            </p>
                        </section>
                    </div>
                </div>
                <div class="4u 12u(narrow) centered-outer" >
                    <div class="centered-inner">
                    <div class="oval centered-outer" style="width: 293px; height: 370px;">
                        <section class="centered-inner">
                        <img src="images/blivenbabywearing_logo.png" style="width:100%" />
                        </section>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</section>