			<section id="second" class="main">
				<header>
					<div class="container">
						<h2 class="en">{{include.en.title}}</h2>
						<h2 class="de">{{include.de.title}}</h2>
					</div>
				</header>
				<div class="content dark style0">
					<div class="container">
                        {% if include.header -%}
                        {% capture defaultidheader -%}
                            {{include.header.key}}_header
                        {%- endcapture -%}
                        <div class="row">
                            <div class="12u 12u(narrow)">
                                <section id="{{ include.header.sectionid | default: defaultidheader }}">
                                    {{include.header}}
                                </section>
                            </div>
                        </div>

                        {%- endif %}
                        <div class="row">
                            <div class="6u 12u(narrow)">
                                {% capture defaultiden -%}
                                    {{include.en.key}}_en
                                {%- endcapture -%}
                                <section id="{{ include.en.sectionid | default: defaultiden }}" class="en">
                                    {{include.en}}
                                </section>
                            </div>
                            <div class="6u 12u(narrow)">
                                {% capture defaultidde -%}
                                    {{include.de.key}}_de
                                {%- endcapture -%}
                                <section id="{{ include.de.sectionid | default: defaultidde }}" class="de">
                                    {{include.de}}
                                </section>
                            </div>
                        </div>
					</div>
				</div>
			</section>