			<section id="second" class="main">
				<header>
					<div class="container">
						<h2 class="en">{{include.en.title}}</h2>
						<h2 class="de">{{include.de.title}}</h2>
					</div>
				</header>
				<div class="content dark style2">
					<div class="container">
                        <div class="row">
                            <div class="6u 12u(narrow)">
                                <section class="en">
                                    {{include.en}}
                                </section>
                            </div>
                            <div class="6u 12u(narrow)">
                                <section class="de">
                                    {{include.de}}
                                </section>
                            </div>
                        </div>
					</div>
				</div>
			</section>