{%- comment -%}
@param sections List of sections with `language` and `key` properties
@param template Liquid partial to render one section. Default: babywearing_section.html
@param navtemplate Liquid partial to render one nav section. Default: babywearing_navitem.html
{%- endcomment -%}

{%- assign grouped_blurbs = include.sections | where_exp:"section", "section.published != false" | group_by:"key" -%}
<nav id="navbar" class="navbar navbar-light navbar-expand-lg bg-light sticky-top">
    {% include nav_maindrop.html%}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="nav nav-pills">
{% for blurbs in grouped_blurbs -%}
    {%- assign blurblang = blurbs.items | group_by:"language" -%}
    {%- assign en = blurblang | where:"name", "en" -%}
    {%- assign de = blurblang | where:"name", "de" -%}
    {%- assign header = blurblang | where:"name", "head" -%}
    {%- assign footer = blurblang | where:"name", "foot" -%}
    
<!-- {{blurbs.name}} -->
{% include {{ include.navtemplate | default: "babywearing_navitem.html" }} en=en.first.items.first de=de.first.items.first header=header.first.items.first footer=footer.first.items.first
%}{% endfor %}
        </ul>
    </div>
</nav>

<div class="container">
{% for blurbs in grouped_blurbs -%}
    {%- assign blurblang = blurbs.items | group_by:"language" -%}
    {%- assign en = blurblang | where:"name", "en" -%}
    {%- assign de = blurblang | where:"name", "de" -%}
    {%- assign header = blurblang | where:"name", "head" -%}
    {%- assign footer = blurblang | where:"name", "foot" -%}
    
<!-- {{blurbs.name}} -->
{% include {{include.template | default: "babywearing_section.html" }} en=en.first.items.first de=de.first.items.first header=header.first.items.first footer=footer.first.items.first %}{% endfor %}
    

</div>

