{%- comment -%}
@param sections List of sections with `language` and `key` properties
@param business Either 'babywearing' or 'signingtime'
@param template Liquid partial to render one section. Default: babywearing_section.html
@param navtemplate Liquid partial to render one nav section. Default: babywearing_navitem.html
{%- endcomment -%}

<nav id="navbar" class="navbar navbar-light navbar-expand-lg bg-light sticky-top">
    <ul class="nav nav-pills">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-brand lilybee" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">LilyBee</a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{% link index.html %}">Home</a>
                {% if include.business == "babywearing" -%}
                    <a class="dropdown-item current" href="#">Babywearing</a>
                {%- else -%}
                    <a class="dropdown-item" href="{% link babywearing.html %}">Babywearing</a>
                {%- endif %}
                {% if include.business == "signingtime" -%}
                    <a class="dropdown-item current" href="#">Signing Time!</a>
                {%- else -%}
                    <a class="dropdown-item" href="{% link signingtime.html %}">Signing Time!</a>
                {%- endif %}
            </div>
        </li>
    </ul>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarToggle">
        <ul class="nav nav-pills">
{% assign published = include.sections | where_exp:"section", "section.published != false" %}
{% for section in published -%}
    
<!-- {{section.name}} -->
{% include {{ include.navtemplate | default: "navitem.html" }} section=section -%}
{% endfor %}
        </ul>
    </div>
</nav>

<div class="container">
{% for section in published -%}
    
<!-- {{section.name}} -->
{% include {{include.template | default: "section.html" }} section=section -%}
    
{% endfor %}

</div>

