---
# SASS stylesheet
---

// Logo colors:
$logo-purple   : #6c2085;
$logo-green    : #6ec038;
$logo-lavender : #e9deff;

// Signing time colors
$bst-blue: #159ed6;
$bst-red: #e11f28;
$bst-yellow: #f4e764;
$bst-wheat: #fbf3a2;
$bst-navy: #00095e;

$bg-yellow: #ffde2d; // a strong yellow color

$hpsection-background : #5c1c72;

body {
    background: $logo-purple;
    position: relative;
}


// Link without blue underline
.link-unstyled, .link-unstyled:link, .link-unstyled:hover {
    color: inherit;
    text-decoration: inherit;
}

// Make a full card hyperlink by adding <a class="card-full-link"> in a class
.card-full-link {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.en {}
.de {
    font-style: italic;
    em {
        font-style: normal;
    }
}


.lilybee {
    font-family: 'Emilys Candy', cursive;
}

.jumbotron {
    h1 {
        @extend .lilybee;
    }

    font-family: 'Trocchi', serif;
    //font-family: 'Allura', cursive;

    background: $bst-wheat;
}

// Hack; we should be compiling bootstrap from SASS & overriding $brand-primary
// or else using the customizer
.btn-primary {
    color: white;
    background: $bst-blue;
    border-color: $bst-blue;
}

.btn-info {
    color: black;
    background: $bst-yellow;
    border-color: $bst-yellow;

    &:hover {
        color: black;
        border-color: $bst-yellow;
        background: $bst-wheat;
    }
}


.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: $bst-yellow;
    color: black;
}
a {
    color: $bst-blue;
}

.nav-pills a.nav-link{
    color: black;
}

// Remove margin between jumbotron & nav
.jumbotron + nav {
    margin-top: -2rem; //equals jumbotron margin-bottom
}

// Nav menu current page
.current {
    font-weight: bold;
    display: inline-block;
    position: relative;
    &::before {
        content: "";
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
        border-left: 8px solid #727272;
        position: absolute;
        top: calc(50% - 8px);
        left: .75rem;

    }
}

// markdown sometimes generates p inside lists
li p {
    margin: inherit;
}

// For lists
.nobullet {
    list-style: none;
    padding-left: 0px;
}

.cancelled {
    &::before {
        content: "Cancelled";
        text-decoration: none;
        font-variant: small-caps;
        font-weight: bold;
        // Needed to prevent text-decoration from bleeding through
        display: inline-block;
        margin-right: 1em;
    }
    color: red;
    text-decoration: line-through;

    a {
        color: red;
    }
}
.collapsible-events {
        list-style: none;

    .event {
        // Match default font size to h5 so the baseline is uniform
        font-size: 1.25rem;
        padding: 5px;
        border-bottom: solid 1px #ccc;

        .event-head {
            vertical-align: middle;
            display: table;
            width: 100%;
        }

        .stacked-date {
            width: 50px;
            padding: 0px;
            display: inline-block;
            text-align: center;
            position: relative;
            bottom: -8pt;

            .dayofweek, .month {
                height: 8pt;
                line-height: 8pt;
                font-size: 8pt;
            }
            .dayofmonth {
                height: 25px;
                line-height: 25px;
                font-size: 20pt;
            }
        }

        .event-title {
            display: inline-block;
        }
        .event-rsvp {
            display: table-cell;
            vertical-align: middle;
            .btn {
                float: right;
            }
        }

        .collapse-caret {
            color: #ccc;

            &::before {
                content: "\f0d7"; //"\f0d8"
                font-family: FontAwesome;
                font-weight: 900;
            }
            &:hover {
                text-decoration: inherit;
                color: $bst-blue;
            }

            &.expanded::before {
                content: "\f0d8";
                color: $bst-blue;
            }
            &.expanded:hover {
                text-decoration: inherit;
                color: #ccc;
            }

        }

        .event-body {
            margin-left: 91px;
        }
    }
}
