---
layout: home
---

{%- comment -%}
@param sections List of sections with `language` and `key` properties
@param template Liquid partial to render one section. Default: babywearing_section.html
@param navtemplate Liquid partial to render one nav section. Default: babywearing_navitem.html
{%- endcomment -%}

<nav id="navbar" class="navbar navbar-light navbar-expand-lg bg-light sticky-top">
    {% include nav_maindrop.html %}
</nav>

<div class="container">    
{% include {{include.template | default: "section.html" }} section=content -%}
</div>

