---
# Top-level layout
# @param language language code
# @param scrollspy target for scrollspy. Defaults to none
# @param scrollspy_offset height to first content block
---
<!doctype html>
<html lang="{{layout.language|default:"en"}}">
    <head>
        {% include analytics.html -%}
        <title>{{site.title}}{% if page.title != nil and page.title != "" %} - {{page.title}}{% endif %}</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% if site.description != nil and site.description != "" -%}
        <meta name="description" content="{{site.description}}" />
        {%- endif %}

        <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto|Emilys+Candy|Trocchi|Allura" rel="stylesheet">

        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css" />
    </head>
    <body {% if page.scrollspy != nil and page.scrollspy != "" -%}
          data-spy="scroll" data-target="#{{page.scrollspy}}" data-offset="{{page.scrollspy_offset|default: 0}}"
          {%- endif %}>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <a class="link-unstyled" href="{% if site.baseurl != nil and site.baseurl != ""%}{{site.baseurl}}{% else %}/{% endif %}">
                    <div class="media">
                        <img class="mr-3" src="{{site.baseurl}}{% link images/blivenbabywearing_logo_simple.svg %}"   alt="LilyBee logo" style="height:80px" />
                        <div class="media-body">
                            <h1 class="mt-0 lilybee">LilyBee</h1>
                            <p class="lead">Babywearing Consultations &amp; Baby Signing Classes</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

{{ content }}

{% include footer.html %}

        <!-- Scripts -->
        <script src="{{site.baseurl}}/assets/js/jquery-3.3.1.slim.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/popper.min.js"></script>
        <script src="{{site.baseurl}}/assets/js/bootstrap.min.js"></script>
    </body>
</html>
