---
# Top-level layout
# @param language language code
---
<!doctype html>
<html lang="{{layout.language|default:"en"}}">
    <head>
        {% include analytics.html -%}
        <title>{{site.title}}</title>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        {% if site.description -%}
        <meta name="description" content="{{site.description}}" />
        {%- endif %}

        <link href="https://fonts.googleapis.com/css?family=PT+Sans|Roboto|Emilys+Candy|Trocchi|Allura" rel="stylesheet">

        <link rel="stylesheet" href="/assets/css/bootstrap.min.css"/>

        <link rel="stylesheet" href="/assets/css/main-bootstrap.css" />
    </head>
    <body>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <a class="link-unstyled" href="/">
                    <div class="media">
                        <img class="mr-3" src="/images/blivenbabywearing_logo_simple.svg"   alt="LilyBee logo" style="height:80px" />
                        <div class="media-body">
                            <h1 class="mt-0">LilyBee</h1>
                            <p class="lead">Babywearing Consultations &amp; Baby Signing Classes</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

{{ content }}

{% include footer.html %}

        <!-- Scripts -->
        <script src="/assets/js/jquery.min.js"></script>
        <script src="/assets/js/popper.min.js"></script>
        <script src="/assets/js/bootstrap.min.js"></script>
    </body>
</html>
